<div id="products_head">
    <h1 id="prod_text"><%= yield :cabecera %></h1>
</div>
<%if user_signed_in?  %>
    <% if current_user.ugroupe_id == 1%>
        <%=render 'vista_admin/menu_admin'%>
    <% else%>
        <div class="current_order">
            <div class="curr">
                <%=(link_to 'Current order', order_path(current_order)) if current_order%>
            </div>
            <div class="search">
                    <%=yield :search%>
            </div>
        </div>
    <%end%>
<%else%>
    <div class="current_order"><div class="search">
            <%=yield :search%></div></div>
<%end%>

<div data-pjax-container id="yield">
    <%= yield %>
</div>
