<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @type.name %>
</p>

<%= link_to 'New Type', new_type_path %> |
<%= link_to 'Edit Type', edit_type_path(@type) %> |
<%= link_to 'All Type', types_path %>
