<%= form_for(@ugroupe) do |f| %>
  <% if @ugroupe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ugroupe.errors.count, "error") %> prohibited this ugroupe from being saved:</h2>

      <ul>
      <% @ugroupe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
      <%= f.submit %>
  </div>
<% end %>
