<meta http-equiv="refresh" content="3">
<% content_for :cabecera do%>
  Listing Orders
<%end%>

<table>
    <tr>
    <th>Num Pedido</th>
    <th>Ver Pedido</th>
    <th>Finalizar Pedido</th>
    <th>Cancelar Pedido</th>
  </tr>
<% if @corders %>
<% @corders.each do |corder| %>
    <tr>
    <td><%= corder.id %></td>
    <td><%= link_to 'Show', corder %></td>
    <td><%= form_for corder do |c|%>
        <%= c.submit%><%end%>
    </td>
    <td><%= link_to 'Destroy', corder, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
<%end%>
</table>
