<% content_for :cabecera do%>
    Products
<%end%>
<%content_for :search do%>
    <%if current_user == nil or current_user.ugroupe_id != 1%>
        <%= form_for @search, :url => category_path(@category), :html => {:method => :get} do |f| %>
        <%= f.text_field :title_contains %><%= f.submit 'Search Products' %>
    <% end %>
<%end%>

<%end%>
<div id="products_list">
    <%if user_signed_in?%>
        <%if current_user.ugroupe_id == 1%>
            <%= form_for @search, :url => category_path(@category), :html => {:method => :get} do |f| %>
                <%= f.text_field :title_contains %><%= f.submit 'Search Product' %>
            <% end %>
        <%end%>
    <%end%>
<%if @category.products.count != 0 %>
    <% @category_products.each do |product| %>
        <div class="item_product" class="<%= product.type.name%>">
            <div class="item_product_image" >
              <%if product.image.url == "/images/original/missing.png" %>
                <%= image_tag(product.image_url)%>
              <%else %>
                <%= image_tag(product.image.url)%>
              <%end%>
            </div>
            <div class="item_product_text">
                <div class="item_product_title">
                    <h2><%= product.title %></h2>
                </div>
                <div class="item_product_description">
                    <%= product.description.html_safe %>
                </div>
            </div>
            <div class="price">
                Precio  <%= product.price %>€&nbsp;&nbsp;&nbsp; <%= link_to 'Show', store_path(product.id), :class => 'esd'%>
            </div>
            <%if user_signed_in? %> 
                <%= button_to 'Add Order', line_items_path(:product_id => product) %>
            <%end%>
        </div> 
    <%end%>
<%else%>
         <%= "category without products" %>
<%end%>
</div>
<%= will_paginate @category_products %>

