<div id="admin_menu">
    <div class="admin_cat"> 
        <%= link_to 'Principal View', root_path%>
        <a href="/user_administration">Users</a>
        <%= link_to 'Types', types_path%>
        <%= link_to 'Products', products_path%>
        <%= link_to 'Groups', ugroupes_path%>
        <%= link_to 'Orders', corders_path%>
        <%=(link_to 'Current order', order_path(current_order)) if current_order%>
    </div>
</div>
