<div id="admin_menu">
    <div class="admin_cat"> 
        <%= link_to 'Principal View', root_path%>
        <%= link_to 'User Administration', 'user_administration'%>
        <%= link_to 'Types', types_path%>
        <%= link_to 'Products', products_path%>
        <%= link_to 'Groups', ugroupes_path%>
        <%= link_to 'Orders', corders_path%>
    </div>
</div>
