<% content_for :cabecera do%>
  Listing Users
<%end%>

<table>
    <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Direccion</th>
        <th>Telefono</th>
        <th>email</th>
        <th>grupo</th>
    </tr>
    <%if @users %>
    <% @users.each do |user| %>
        <tr>
            <td><%= user.first_name%></td>
            <td><%= user.second_name%></td>
            <td><%= user.adress%></td>
            <td><%= user.phone%></td>
            <td><%= user.email%></td>
            <td><%= user.ugroupe.name%></td>
            <td><%= link_to 'Edit', edit_user_administration_path(user) %></td> 
            <td><%= link_to 'Show',user_administration_path(user)%></td>
            <td><%= link_to 'Destroy', user_administration_path(user), confirm: 'Are you sure?', method: :delete %></td>

        </tr>
    <% end%>
<%end%>
</table>


