<p id="notice"><%= notice %></p>

<p>
  <b>First Name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Second Name:</b>
  <%= @user.second_name %>
</p>

<p>
    <b>Email:</b>
    <%= @user.email %>

<p>
  <b>Adress:</b>
  <%= @user.adress %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Type:</b>
  <%= @user.ugroupe_id %>
</p>


<%= link_to 'Edit', edit_user_administration_path(@user) %> |
<%= link_to 'Back', user_administration_path %>
