<p id="notice"><%= notice %></p>
<div id="store">
<p>
  <%= image_tag(@store_product.image_url) %>
</p>
<p><b>Type:</b> <%= @store_product.type.name %> </p>
<p>
<%= @store_product.type.name %> de <%= @store_product.title %>
</p>

<p>
  <b><%= @store_product.description %></b>

<p>
  <b>Price:</b>
  <%= @store_product.price %>€ 
  <%if user_signed_in?%><%= button_to 'Add to Order', line_items_path(:product_id => @store_product) %><%end%>
</p>

<%= link_to 'Back', root_path, :class => 'esd' %>
</div>
