<% content_for :cabecera do%>
  Sign up<%end%>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name %></div>

  <div><%= f.label :second_name %><br />
  <%= f.text_field :second_name %></div>

  <div><%= f.label :adress %><br />
  <%= f.text_field :adress %></div>

  <div><%= f.label :phone %><br />
  <%= f.text_field :phone %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
